# This is a basic workflow to help you get started with Actions

name: Webpack

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: install dependencies
        run: npm install
      - name: Build live2d_bundle.js
        run: npm run build:prod
      - name: Push to Github
        run: |
          git config --global user.name "Konata09"
          git config --global user.email "lz9709@gmail.com"
          git add dist
          git commit -m "Auto built from ${{ github.sha }}"
          git push
    env:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}